
body {
    background: #18191b;
    color:#F4F3F2;
    margin: 0;
    font-family: 'Fira Code', monospace, sans-serif;
     }

.main{
	display:flex;
	font-size: 20px;
    font-weight: bold;
	margin: 0 auto;
	justify-content:center;
    text-align: center;
    border-bottom: 4px solid #F4F3F2;;
	}

.text{
    font-size: 30px;
    font-weight: bold;
    display:flex;
    justify-content:center;
    margin: 0 0 5 0;
    text-shadow: 4px 1px 5px black;
}

.Types {
	display:flex;
	font-size: 50px;
    font-weight: bold;
	margin: 0 0 5 0 ;
	justify-content:center;
}
#engi {
    display:flex;
    justify-content:center;
    margin: 0 auto;
    width: 150px;
    height: auto;
}